# Flutter / Dart
.dart_tool/
.packages
.pub-cache/
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock

# IDE
.idea/
.vscode/
*.iml

# Android / iOS
android/.gradle/
android/local.properties
ios/Pods/
ios/.symlinks/
**/Flutter/Generated.xcconfig
**/Flutter/flutter_export_environment.sh

# Firebase — NUNCA versionar chaves reais
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
.firebase/

# OS
.DS_Store

# Dados locais do Firebase Emulator Suite
.emulator-data/
firebase-debug.log
firestore-debug.log
ui-debug.log

# Build web
build/
